$color-main-bg: #fff;
$color-dark-bg: #111;

$color-text-black: #04121b;
$color-text-light: #fff;
$color-text-dark: #a9a6a2;

$color-blue-active: #00aefa;

$color-blue-sky: #1fbbff;
$color-blue-sky-light: #4ac7fd;
$color-yellow-sky: #fad800;
