// Stratos
// @font-face {
// 	font-family: 'Stratos';
// 	src: local('Stratos'), url('./fonts/Stratos/Stratos-SemiBold.ttf'),
// 		url('./fonts/Stratos/Stratos-SemiBold.woff2') format('woff2'),
// 		url('./fonts/Stratos/Stratos-SemiBold.woff') format('woff');
// 	font-weight: 500;
// 	font-style: normal;
// 	font-display: swap;
// }

// @font-face {
// 	font-family: 'Stratos';
// 	src: local('Stratos'), url('./fonts/Stratos/Stratos-Bold.ttf'),
// 		url('./fonts/Stratos/Stratos-Bold.woff2') format('woff2'),
// 		url('./fonts/Stratos/Stratos-Bold.woff') format('woff');
// 	font-weight: 600;
// 	font-style: normal;
// 	font-display: swap;
// }

// @font-face {
// 	font-family: 'Stratos';
// 	src: local('Stratos'), url('./fonts/Stratos/Stratos-Regular.ttf'),
// 		url('./fonts/Stratos/Stratos-Regular.woff2') format('woff2'),
// 		url('./fonts/Stratos/Stratos-Regular.woff') format('woff');
// 	font-weight: normal;
// 	font-style: normal;
// 	font-display: swap;
// }

@font-face {
	font-family: 'Stratos';
	src: url('./fonts/Stratos/StratosLCWebLight.ttf') format('truetype'),
		url('./fonts/Stratos/StratosLCWebLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Stratos';
	src: url('./fonts/Stratos/StratosLCWebRegular.ttf') format('truetype'),
		url('./fonts/Stratos/StratosLCWebRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Stratos';
	src: url('./fonts/Stratos/StratosLCWebMedium.ttf') format('truetype'),
		url('./fonts/Stratos/StratosLCWebMedium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
